{% extends base_template %}
{% trans_default_domain "PrestaGoogleAnalyticsDashboardBundle" %}

{% block title %}
    GoogleAnalyticsDashboard
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'breadcrumb.link_dashboard'|trans({}, 'SonataAdminBundle') }}</a><span class="divider">/</span></li>
    <li class="active">{{ 'breadcrumb.dashboard' | trans  }}</li>
{% endblock %}

{%block actions %}
{% endblock %}

{% block content %}

{% if (is_dummy) %}
<div class="alert alert-warning">
    {{ 'alert.dummy_configuration' | trans  }}
</div>
{% endif %}

<table class="table table-bordered sonata-ba-list">
    <thead>
        <tr><th colspan="6">{{ 'title.today' | trans }}</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">
                <div>{{ today_visit }}</div>
                <strong>{{ 'label.visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ today_new_visit }}</div>
                <strong>{{ 'label.new_visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ today_page_view }}</div>
                <strong>{{ 'label.page_view' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ today_page_per_visit }}</div>
                <strong>{{ 'label.page_per_visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ today_avg_time_on_site }}</div>
                <strong>{{ 'label.avg_time_on_site' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ today_visit_bounce_rate }} %</div>
                <strong>{{ 'label.visit_bounce_rate' | trans }}</strong>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered sonata-ba-list">
    <thead>
        <tr><th colspan="6">{{ 'title.yesterday' | trans }}</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">
                <div>{{ yesterday_visit }}</div>
                <strong>{{ 'label.visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ yesterday_new_visit }}</div>
                <strong>{{ 'label.new_visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ yesterday_page_view }}</div>
                <strong>{{ 'label.page_view' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ yesterday_page_per_visit }}</div>
                <strong>{{ 'label.page_per_visit' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ yesterday_avg_time_on_site }}</div>
                <strong>{{ 'label.avg_time_on_site' | trans }}</strong>
            </td>
            <td class="center">
                <div>{{ yesterday_visit_bounce_rate }} %</div>
                <strong>{{ 'label.visit_bounce_rate' | trans }}</strong>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
